<!DOCTYPE html>
<html lang="vn">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/loginStyle.css">
        <title>Đăng nhập</title>
    </head>
    <body>
        <div class="centerScreen">
            <div class="loginBody">
                <div>
                    <h3>Đăng nhập vào hệ thống</h3>
                </div>
                <form method="post" action="/vertifylogin">
                    <div class="fieldInput">
                        <label>
                            Tên đăng nhập:
                            <input type="text" id="username" name="username">
                        </label>
                    </div>
                    <div class="fieldInput">
                        <label>
                            Mật khẩu:
                            <input type="password" id="password" name="password">
                        </label>
                    </div>
                    <div>
                        <input type="submit" value="Đăng nhập">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>