.container {
    display: flexbox;
    flex-direction: column;
}

.header{
    background-color: rgb(5, 5, 130);
    height: 50px;
}

.navigator {
    background-color: whitesmoke;
    height: 100px;
}

.body{
    background-color: grey;
    height: 100px;
}

.footer{
    background-color: rgb(79, 77, 77);
    height: 200px;
}

