<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="user.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Header</h1>
            </div>
            <div class="menu">
                <div class="dropDownmenu">
                    <div><a href="">Option 1</a></div>
                    <div><a href="">Option 2</a></div>
                    <div><a href="">Option 3</a></div>
                    <div><a href="">Option 4</a></div>
                    <div><a href="">Option 5</a></div>
                </div>
                <div class="userMenu">
                    <div class="username"><a href="">User 1</a></div>
                    <div class="role">Giám sát</div>
                </div>
            </div>
            <div style="display: flex;">
                <div class="column1">
                    <h2><div class="username">User 1</div></h2>
                    <form>
                        <label for="cccd">CCCD</label>
                        <input id="cccd" type="text" disabled value="123456">
                        <label for="name">Họ tên</label>
                        <input id="name" type="text">
                        <label for="birthdate">Ngày sinh</label>
                        <input id="birthdate" type="date">
                        <label for="sdt">Số điện thoại</label>
                        <input id="sdt" type="text">
                        <label for="hometown">Quê quán</label>
                        <input id="hometown" type="text">
                        <label for="resident">Họ tên</label>
                        <input id="resident" type="text">
                    </form>
                    ho_va_ten, ngay_sinh, sdt, que_quan, quoc_tich, thuong_tru, tam_tru, tien_an, benh_ly
                    <form>

                    </form>
                </div>
                <div class="column2">
                    <h2>Column 2</h2>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi velit quam, consequat vitae auctor eget, interdum ac purus.
                    </p>
                    <ul style="padding-left: 20px;">
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                        <li><a href="">Link 5</a></li>
                        <li><a href="">Link 6</a></li>
                        <li><a href="">Link 7</a></li>
                        <li><a href="">Link 8</a></li>
                        <li><a href="">Link 9</a></li> 
                    </ul>
                </div>
            </div>
            <div class="footer">Footer</div>
        </div>
    </body>
</html>